.footer {
  position: relative;
  background-image: url(../images/footer.png);
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 32px 0;

  &::before,
  &::after {
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    bottom: 0;
  }

  &::before {
    background-image: url(../images/chleb.png);
    width: 180px;
    height: 120px;
  }
  &::after {
    background-image: url(../images/chleb2.png);
    width: 380px;
    height: 190px;
    right: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__nav,
  &__adress {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex-basis: 50%;
      text-align: left;
    }
  }

  &__logo,
  &__link {
    flex-grow: 1;
  }

  &__adress-link {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
  }
  &__adress-link:hover {
    color: var(--color-brand-normal);
  }

  &__adress-icon {
    fill: var(--color-primary-light);
  }
  &__adress-copyright {
    font-size: 14px;
    color: var(--color-secondary-dark);
  }

  &__adress-list,
  &__adress-info {
    flex-grow: 1;
  }
}
